* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
border: 2px solid purple;
width: 300px;
height: 150px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.input {
display: flex;
align-items: center;
justify-content: center;  
}

.input input {
    width: 50%;
}

button {
    background-color: turquoise;
    border: 1px solid turquoise;
    color: maroon;
    padding: 5px 10px;
    border-radius: 6px;
    margin-top: 10px;
}

.coin {
     width: 50px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin p {
    font-size: 16px;
}

#coin-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.penny {
width: 50px;
height: 50px;
background-color: #b87333; 
}

.nickel{
width: 60px;
height: 60px;
background-color: #a9a9a9;
}

.dime {
width: 40px;
height: 40px;
background-color: #d3dde4;
}

.quarter {
width: 75px;
height: 75px;
background-color: #bdbaae;
}